<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Mars" sequenceNumber="16">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="0.0.0"/>
<unit id="org.apache.log4j" version="0.0.0"/>
<repository location="http://download.eclipse.org/technology/swtbot/releases/latest"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.google.guava" version="15.0.0.v201403281430"/>
<unit id="com.google.guava.source" version="15.0.0.v201403281430"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150519210750/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="4.5.1.M20150904-0015"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.5"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="net.sourceforge.plantuml.ecore.feature.feature.group" version="0.9.0.201404292234"/>
<unit id="net.sourceforge.plantuml.feature.feature.group" version="1.1.11.7997"/>
<repository location="http://basar.idi.ntnu.no/svn/tdt4100/anonymous/trunk/updatesite"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.cdt.sdk.feature.group" version="8.8.0.201509131935"/>
<unit id="org.eclipse.emf.ecp.emfforms.sdk.feature.feature.group" version="1.7.0.20150914-1619"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.8.4.v201508050135"/>
<unit id="org.eclipse.emf.emfstore.sdk.feature.feature.group" version="1.6.0.v20150915-0809"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.11.1.v20150806-0404"/>
<unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.3.1.v20150806-0546"/>
<repository location="http://download.eclipse.org/releases/mars"/>
</location>
</locations>
<launcherArgs>
<vmArgs>-Doomph.update.url=http://download.eclipse.org/oomph/updates/milestone/latest -Doomph.redirection.index.redirection=index:/-&gt;http://git.eclipse.org/c/oomph/org.eclipse.oomph.git/plain/setups/ -Dosgi.requiredJavaVersion=1.7 -Xms256m -Xmx1024m</vmArgs>
</launcherArgs>
</target>
