<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.app4mc.capra.configuration.TraceabilityMetamodel">
      <TraceabilityMetamodelAdpter
            class="org.eclipse.app4mc.capra.adapter.DefaultTraceMetamodelAdapter">
      </TraceabilityMetamodelAdpter>
   </extension> 

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated trace -->
      <package
            uri="org.eclipse.app4mc.capra.simpletrace.tracemetamodel"
            class="org.eclipse.app4mc.capra.simpletrace.tracemetamodel.TracemetamodelPackage"
            genModel="model/trace.xcore"/>
   </extension>

</plugin>
