<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated trace -->
      <package
            uri="org.amalthea4public.metamodel.trace"
            class="org.amalthea4public.metamodel.trace.TracePackage"
            genModel="model/trace.xcore"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated requirements -->
      <package
            uri="org.amalthea4public.metamodel.requirements"
            class="org.amalthea4public.metamodel.requirements.RequirementsPackage"
            genModel="model/requirements.xcore"/>
   </extension>

</plugin>
