<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.app4mc.capra.configuration.persistenceHadler">
      <persistenceHandler
            class="org.eclipse.app4mc.capra.handlers.TracePersistenceAdapter">
      </persistenceHandler>
   </extension>
</plugin>
