<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated trace -->
      <package
            uri="org.amalthea4public.metamodel.trace"
            class="org.amalthea4public.metamodel.trace.TracePackage"
            genModel="model/trace.xcore"/>
   </extension>
   <extension
         point="org.amalthea4public.configuration.metamodel.trace">
      <trace_metamodel
            adapter="org.amalthea4public.configuration.metamodel.trace.TraceMetamodelAdapter">
      </trace_metamodel>
   </extension>
   <extension
         point="org.amalthea4public.configuration.metamodel.trace">
      <trace_metamodel
            adapter="org.amalthea4public.configuration.metamodel.trace.TraceMetamodelAdapter2">
      </trace_metamodel>
   </extension>

</plugin>
