<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.sourceforge.plantuml.eclipse.diagramTextProvider">
      <diagramTextProvider
            providerClass="handlers.DiagramTextProviderHandler">
      </diagramTextProvider>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
     
      <command
            id="org.amalthea4public.tracemanagement.default.visualisation.plantuml.toggleTransitivity"
            name="Toggle Transitivity">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="handlers.DisplayTracesHandler"
            commandId="org.amalthea4public.tracemanagement.default.visualisation.plantuml.toggleTransitivity">
      </handler>
   </extension>
	<extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:net.sourceforge.plantuml.eclipse.views.PlantUmlView?after=additions">
         <command
               commandId="org.amalthea4public.tracemanagement.default.visualisation.plantuml.toggleTransitivity"
               label="Toggle Transitivity"
               style="push">
         </command>
         
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.amalthea4public.tracemanagement.generic.perspective.CapraPerspective">
         <view
               id="net.sourceforge.plantuml.eclipse.views.PlantUmlView"
               minimized="false"
               ratio="0.25"
               relationship="right"
               relative="org.amalthea4public.tracemanagement.generic.views.SelectionView">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>
