<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.sourceforge.plantuml.eclipse.diagramTextProvider">
      <diagramTextProvider
            providerClass="handlers.DiagramTextProviderHandler">
      </diagramTextProvider>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="handlers.DisplayTracesHandler"
            commandId="org.amalthea4public.generic.tracecreation.displayTraceMatrix">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.amalthea4public.tracemanagement.generic.perspective.CapraPerspective">
         <view
               id="net.sourceforge.plantuml.eclipse.views.PlantUmlView"
               minimized="false"
               ratio="0.25"
               relationship="right"
               relative="org.amalthea4public.tracemanagement.generic.views.SelectionView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
