<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.sourceforge.plantuml.eclipse.diagramTextProvider">
      <diagramTextProvider
            providerClass="handlers.DiagramTextProviderHandler">
      </diagramTextProvider>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="handlers.DisplayTraceMatrixHandler"
            commandId="org.amalthea4public.generic.tracecreation.displayTraceMatrix">
      </handler>
   </extension>

</plugin>
