<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.amalthea4public.configuration.metamodel.trace" name="Supply Trace Metamodel" schema="schema/org.amalthea4public.configuration.metamodel.trace.exsd"/>
   <extension-point id="org.amalthea4public.configuration.persistence.trace" name="Trace Persistence" schema="schema/org.amalthea4public.configuration.persistence.trace.exsd"/>
   <extension-point id="org.amalthea4public.configuration.artifacthandler" name="org.amalthea4public.configuration.artifacthandler" schema="schema/org.amalthea4public.configuration.artifacthandler.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.amalthea4public.generic.tracecreation.commands.createTrace"
            name="Create Trace">
      </command>
      <command
            id="org.amalthea4public.generic.tracecreation.displayTraceMatrix"
            name="Display Trace Matrix">
      </command>
      <command
            helpContextId="Add currently selected item to list of selection"
            id="org.amalthea4public.generic.tracecreation.commands.addtoSelection"
            name="Add to Selection">
      </command>
      <command
            id="org.amalthea4public.generic.tracecreation.clearselection"
            name="Clear Selection">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.amalthea4public.generic.tracecreation.handlers.TraceCreationHandler"
            commandId="org.amalthea4public.generic.tracecreation.commands.createTrace">
      </handler>
      <handler
            class="org.amalthea4public.generic.tracecreation.handlers.DisplayTraceMatrixHandler"
            commandId="org.amalthea4public.generic.tracecreation.displayTraceMatrix">
      </handler>
      <handler
            class="org.amalthea4public.generic.tracecreation.handlers.ItemSelectionHandler"
            commandId="org.amalthea4public.generic.tracecreation.commands.addtoSelection">
      </handler>
      <handler
            class="org.amalthea4public.generic.tracecreation.handlers.ClearSelectionHandler"
            commandId="org.amalthea4public.generic.tracecreation.clearselection">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <separator
               name="org.amalthea4public.generic.tracecreation.separator2"
               visible="true">
         </separator>
         <menu
               id="org.amalthea4public.generic.tracecreation.menus.traceManagement"
               label="Amalthea4Public Trace Managament"
               mnemonic="M">
            <command
                  commandId="org.amalthea4public.generic.tracecreation.commands.createTrace"
                  id="org.amalthea4public.generic.tracecreation.menus.createTrace"
                  label="Create Trace"
                  mnemonic="S"
                  tooltip="Gives you a list of available trace types">
            </command>
            <command
                  commandId="org.amalthea4public.generic.tracecreation.displayTraceMatrix"
                  id="org.amalthea4public.generic.tracecreation.menus.displayTraceMatrix"
                  label="Display Trace Matrix"
                  style="push"
                  tooltip="Displays traces between two models">
            </command>
            <command
                  commandId="org.amalthea4public.generic.tracecreation.commands.addtoSelection"
                  label="Add to Selection"
                  style="push"
                  tooltip="Adds the selected items to the current selection">
            </command>
            <command
                  commandId="org.amalthea4public.generic.tracecreation.clearselection"
                  label="Clear Selection"
                  style="push"
                  tooltip="Clears the current selection of elements">
            </command>
         </menu>
         <separator
               name="org.amalthea4public.generic.tracecreation.separator1"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated artifactMetamodel -->
      <package
            uri="org.amalthea4public.generic.tracecreation"
            class="org.amalthea4public.generic.tracecreation.TracecreationPackage"
            genModel="model/artifactMetamodel.xcore"/>
   </extension>
   <extension
         point="org.amalthea4public.configuration.artifacthandler">
      <artifact_handler
            handler="org.amalthea4public.generic.tracecreation.artifacthandling.EMFHandler">
      </artifact_handler>
   </extension>
   <extension
         point="org.amalthea4public.configuration.artifacthandler">
      <artifact_handler
            handler="org.amalthea4public.generic.tracecreation.artifacthandling.IFileHandler">
      </artifact_handler>
   </extension>
	<extension
        point="net.sourceforge.plantuml.eclipse.diagramTextProvider">
      <diagramTextProvider
            providerClass="org.amalthea4public.generic.tracecreation.handlers.DiagramTextProviderHandler">
      </diagramTextProvider>
     </extension>
</plugin>
