<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
     Copyright (c) {2016} Chalmers|Gothenburg University, rt-labs and others.
     All rights reserved. This program and the accompanying materials
     are made available under the terms of the Eclipse Public License v1.0
     which accompanies this distribution, and is available at
     http://www.eclipse.org/legal/epl-v10.html
     
      Contributors:
         Chalmers|Gothenburg University and rt-labs - initial API and implementation and/or initial documentation
 -->

<plugin>
   <extension-point id="org.eclipse.capra.configuration.TraceabilityMetamodel" name="TraceabilityMetamodel" schema="schema/org.eclipse.capra.configuration.TraceabilityMetamodel.exsd"/>
   <extension-point id="org.eclipse.capra.configuration.persistenceHandler" name="persistenceHandler" schema="schema/org.eclipse.capra.configuration.persistenceHandler.exsd"/>
   <extension-point id="org.eclipse.capra.configuration.artifactHandler" name="artifactHandler" schema="schema/org.eclipse.capra.configuration.artifactHandler.exsd"/>
   <extension-point id="org.eclipse.capra.configuration.priorityHandler" name="Priority Handler for Artifact Handlers" schema="schema/org.eclipse.capra.configuration.priorityHandler.exsd"/>
   <extension-point id="org.eclipse.capra.configuration.ArtifactMetaModel" name="ArtifactMetaModel" schema="schema/org.eclipse.capra.configuration.ArtifactMetaModel.exsd"/>

</plugin>
