<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.app4mc.capra.configuration.TraceabilityMetamodel" name="TraceabilityMetamodel" schema="schema/org.eclipse.app4mc.capra.configuration.TraceabilityMetamodel.exsd"/>
   <extension-point id="org.eclipse.app4mc.capra.configuration.persistenceHadler" name="persistenceHandler" schema="schema/org.eclipse.app4mc.capra.configuration.persistenceHadler.exsd"/>
   <extension-point id="org.eclipse.app4mc.capra.configuration.artifactHandler" name="artifactHandler" schema="schema/org.eclipse.app4mc.capra.configuration.artifactHandler.exsd"/>
   <extension-point id="org.eclipse.app4mc.capra.configuration.priorityHandler" name="Priority Handler for Artifact Handlers" schema="schema/org.eclipse.app4mc.capra.configuration.priorityHandler.exsd"/>
   <extension-point id="org.eclipse.app4mc.capra.configuration.ArtifactMetaModel" name="ArtifactMetaModel" schema="schema/org.eclipse.app4mc.capra.configuration.ArtifactMetaModel.exsd"/>

</plugin>
