<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2016 Chalmers | University of Gothenburg, rt-labs and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
     
      Contributors:
         Chalmers | University of Gothenburg and rt-labs - initial API and implementation and/or initial documentation
 -->

<plugin>
   <extension
         point="net.sourceforge.plantuml.eclipse.diagramTextProvider">
      <diagramTextProvider
            providerClass="org.eclipse.capra.ui.plantuml.DiagramTextProviderHandler">
      </diagramTextProvider>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
     
      <command
            id="org.eclipse.capra.ui.plantuml.toggleTransitivity"
            name="Toggle Transitivity">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.capra.ui.plantuml.DisplayTracesHandler"
            commandId="org.eclipse.capra.ui.plantuml.toggleTransitivity">
      </handler>
   </extension>
	<extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:net.sourceforge.plantuml.eclipse.views.PlantUmlView?after=additions">
         <command
               commandId="org.eclipse.capra.ui.plantuml.toggleTransitivity"
               label="Toggle Transitivity"
               style="push">
         </command>
         
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.capra.generic.perspective.CapraPerspective">
         <view
               id="net.sourceforge.plantuml.eclipse.views.PlantUmlView"
               minimized="false"
               ratio="0.25"
               relationship="right"
               relative="org.eclipse.capra.generic.views.SelectionView">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>
